@import "tailwindcss";
@font-face {
  font-family: "Exo2";
  src: url("./assets/fonts/Exo2-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
:root {
  --primary-color: #085db7;
  --secondary-color: #f7f8f9;
  --accent-color: #f1592a;
  --gray-color: #6a7282;
  --black-color: #000000;
  --semi-black-color: #111111;
  --white-color: #ffffff;

  --bg-page: #f7f9fc;
  --bg-card: #ffffff;

  --primary: #085db7;
  --primary-hover: #1d4ed8;

  --text-main: #0f172a;
  --text-muted: #64748b;

  --border-default: #e2e8f0;

  --error-bg: #fff1f2;
  --error-border: #fecdd3;
  --error-text: #e11d48;
}

.inter {
  font-family: "Inter", sans-serif;
}

.exo-2 {
  font-family: "Exo 2", sans-serif;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--secondary-color);
}

h2,
h1 {
  font-family: "Exo 2", sans-serif;
}

/* Scrollbar Width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  background: #111111;
}

/* Scrollbar Thumb */
::-webkit-scrollbar-thumb {
  background: #6a7282;
  transition: 0.3s;
}

/* Hover Effect */
::-webkit-scrollbar-thumb:hover {
  background: #085db7;
}